*:focus {
    outline: none;
}


body {
    background-color: seagreen;
}

.container {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    color: white;
}

.input {
    grid-column: 2;
    color: white;
}

.headerdiv {
    grid-column: 2;
    color: white;
}

/*Inputs*/
.userinput {
    background-color: rgba(0, 237, 0, 0.45);
    border: 2px solid rgba(0, 166, 29, 0.45);
}

.robuxamount {
    background-color: rgba(0, 237, 0, 0.45);
    border: 2px solid rgba(0, 166, 29, 0.45);
}

/*image*/
.images {
    display: grid;
}

.img1 {
    grid-row: 7;
    grid-column: 1;
}

.img2 {
    grid-row: 7;
    grid-column: 3;
}


/*Button*/
.button {
    grid-row: 3;
    grid-column: 2;
}

.button > button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
}

.button > button:hover {
    color: rgb(57, 168, 42);
}


.genbox {
    background-color: rgb(0, 156, 5);
    border:4px solid green;
    font-family: 'Montserrat', sans-serif;
    width: 33%;
    height: 25%;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -100%;
    animation:none;
}

@keyframes loadscrean {
    0% {
        top: 100%;
    }

    100% {
        top: 50%;
    }
}